---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-email.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"d51e346ccb6926339135559578dae755"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"chronicle-email","downloads":2798,"version":"0.2.3","version_created_at":"2022-03-31T21:08:37.174Z","version_downloads":273,"platform":"ruby","authors":"Andrew
        Louis","info":"Various email importers for chronicle-etl","licenses":["MIT"],"metadata":{"homepage_uri":"https://github.com/chronicle-app/chronicle-email","changelog_uri":"https://github.com/chronicle-app/chronicle-email","source_code_uri":"https://github.com/chronicle-app/chronicle-email"},"yanked":false,"sha":"f2a015207ca9b32972ba4318b655bdbb95d7e9e4ccac7195ebbb881cef741cfb","project_uri":"https://rubygems.org/gems/chronicle-email","gem_uri":"https://rubygems.org/gems/chronicle-email-0.2.3.gem","homepage_uri":"https://github.com/chronicle-app/chronicle-email","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/chronicle-app/chronicle-email","bug_tracker_uri":null,"changelog_uri":"https://github.com/chronicle-app/chronicle-email","funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~\u003e
        2.1"},{"name":"rake","requirements":"~\u003e 13.0"},{"name":"rspec","requirements":"~\u003e
        3.9"}],"runtime":[{"name":"chronicle-etl","requirements":"~\u003e 0.5"},{"name":"email_reply_parser","requirements":"~\u003e
        0.5"},{"name":"mail","requirements":"~\u003e 2.7"},{"name":"net-imap","requirements":"\u003e=
        0"},{"name":"net-smtp","requirements":"\u003e= 0"},{"name":"reverse_markdown","requirements":"~\u003e
        2.0"}]}}'
  recorded_at: Wed, 18 May 2022 20:59:53 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-foursquare.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.203.190.11:443
      Etag:
      - '"41821c829ebea00c0011e004489c193e"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"chronicle-foursquare","downloads":14,"version":"0.1.1","version_created_at":"2022-05-18T20:34:46.311Z","version_downloads":3,"platform":"ruby","authors":"Andrew
        Louis","info":"Foursquare connectors","licenses":[],"metadata":{"homepage_uri":"https://github.com/chronicle-app/chronicle-foursquare","changelog_uri":"https://github.com/chronicle-app/chronicle-foursquare","source_code_uri":"https://github.com/chronicle-app/chronicle-foursquare","allowed_push_host":"https://rubygems.org"},"yanked":false,"sha":"906782f7b29c9468126c956ddb1583f8be6cfffffadb8e02802111e431b356a7","project_uri":"https://rubygems.org/gems/chronicle-foursquare","gem_uri":"https://rubygems.org/gems/chronicle-foursquare-0.1.1.gem","homepage_uri":"https://github.com/chronicle-app/chronicle-foursquare","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/chronicle-app/chronicle-foursquare","bug_tracker_uri":null,"changelog_uri":"https://github.com/chronicle-app/chronicle-foursquare","funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~\u003e
        2.3"},{"name":"pry-byebug","requirements":"~\u003e 3.9"},{"name":"rake","requirements":"~\u003e
        13.0.6"}],"runtime":[{"name":"chronicle-etl","requirements":"~\u003e 0.5"},{"name":"faraday","requirements":"~\u003e
        2"},{"name":"omniauth-oauth2","requirements":"~\u003e 1"}]}}'
  recorded_at: Wed, 18 May 2022 20:59:53 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-github.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"76e89e6316dac0518c22a953a6ae93db"'
    b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-imessage.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"7cc3b49df6c2ffbc481835027353cd0b"'
   [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-pinboard.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"d655035170d93c1214b371055a90e105"'
   [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-safari.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"a600993cc63365d291d29759188edf73"'
    [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-shell.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"018e417fa5ece5d1cc5055ec3b8c2b71"'
    b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-spotify.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"a63a7931985eafbf871ac75b88c21726"'
    [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-zulip.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"60d559994ad3dc39a5370d49296a11a3"'
    b[...]
