---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-apple-podcasts.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.25.92.26:443
      Etag:
      - '"8ab94e5508f9dd01a721312af549601c"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"chronicle-apple-podcasts","downloads":99,"version":"0.1.0","version_created_at":"2022-09-13T14:55:44.959Z","version_downloads":99,"platform":"ruby","authors":"Andrew
        Louis","info":"Apple Podcasts connectors","licenses":[],"metadata":{"homepage_uri":"https://github.com/chronicle-app/chronicle-apple-podcasts","changelog_uri":"https://github.com/chronicle-app/chronicle-apple-podcasts","source_code_uri":"https://github.com/chronicle-app/chronicle-apple-podcasts","allowed_push_host":"https://rubygems.org"},"yanked":false,"sha":"d417153ebc5477e4fc1b6ac52eb5b3f75c0868eacdf87adbd502167cb2ec1656","project_uri":"https://rubygems.org/gems/chronicle-apple-podcasts","gem_uri":"https://rubygems.org/gems/chronicle-apple-podcasts-0.1.0.gem","homepage_uri":"https://github.com/chronicle-app/chronicle-apple-podcasts","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/chronicle-app/chronicle-apple-podcasts","bug_tracker_uri":null,"changelog_uri":"https://github.com/chronicle-app/chronicle-apple-podcasts","funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~\u003e
        2.3"},{"name":"pry-byebug","requirements":"~\u003e 3.9"},{"name":"rake","requirements":"~\u003e
        13.0.6"}],"runtime":[{"name":"chronicle-etl","requirements":"~\u003e 0.5"},{"name":"reverse_markdown","requirements":"~\u003e
        2.0"}]}}'
  recorded_at: Sat, 17 Sep 2022 03:22:52 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-email.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.235.149.207:443
      Etag:
      - '"6c4e09fd61d065956e6efb951287eeb7"'
    [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-foursquare.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.71.228.25:443
      Etag:
      - '"8d442be101a70244b02b1a360ff35392"'
 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-github.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.71.228.25:443
      Etag:
      - '"8a1c08582cefa53958f469a8f5fda9ea"'
    b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-imessage.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.235.149.207:443
      Etag:
      - '"a09a409f5e15af77e1026631d81b8bc1"'
 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-pinboard.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.25.92.26:443
      Etag:
      - '"76edbd762f0714f0dd83189db5b75235"'
    [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-safari.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.71.228.25:443
      Etag:
      - '"45919458ddf38638e3e298bd881ac3dc"'
    b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-shell.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.235.149.207:443
      Etag:
      - '"332e3a62c5535e12914ce0209fd15426"'
    [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-spotify.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.25.92.26:443
      Etag:
      - '"07a93b7aa9a1e73f4e046eebd73865e7"'
    b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-zulip.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.235.149.207:443
      Etag:
      - '"e75d0a0988b07a7603caf28b0b07f5a4"'
    [...]
