---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-email.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.203.190.11:443
      Etag:
      - '"ac458d63c69cdadf6cf764de3d5ab0d5"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"chronicle-email","downloads":2695,"version":"0.2.3","version_created_at":"2022-03-31T21:08:37.174Z","version_downloads":250,"platform":"ruby","authors":"Andrew
        Louis","info":"Various email importers for chronicle-etl","licenses":["MIT"],"metadata":{"homepage_uri":"https://github.com/chronicle-app/chronicle-email","changelog_uri":"https://github.com/chronicle-app/chronicle-email","source_code_uri":"https://github.com/chronicle-app/chronicle-email"},"yanked":false,"sha":"f2a015207ca9b32972ba4318b655bdbb95d7e9e4ccac7195ebbb881cef741cfb","project_uri":"https://rubygems.org/gems/chronicle-email","gem_uri":"https://rubygems.org/gems/chronicle-email-0.2.3.gem","homepage_uri":"https://github.com/chronicle-app/chronicle-email","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/chronicle-app/chronicle-email","bug_tracker_uri":null,"changelog_uri":"https://github.com/chronicle-app/chronicle-email","funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~\u003e
        2.1"},{"name":"rake","requirements":"~\u003e 13.0"},{"name":"rspec","requirements":"~\u003e
        3.9"}],"runtime":[{"name":"chronicle-etl","requirements":"~\u003e 0.5"},{"name":"email_reply_parser","requirements":"~\u003e
        0.5"},{"name":"mail","requirements":"~\u003e 2.7"},{"name":"net-imap","requirements":"\u003e=
        0"},{"name":"net-smtp","requirements":"\u003e= 0"},{"name":"reverse_markdown","requirements":"~\u003e
        2.0"}]}}'
  recorded_at: Tue, 10 May 2022 03:38:28 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-github.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.203.190.11:443
      Etag:
      - '"28728f20fbf2ee50eeb318071db6de62"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"chronicle-github","downloads":287,"version":"0.1.0","version_created_at":"2022-03-27T19:13:39.312Z","version_downloads":287,"platform":"ruby","authors":"Andrew
        Louis","info":"Extract github user event stream, repository events, and more","licenses":["MIT"],"metadata":{"homepage_uri":"https://github.com/chronicle-app/chronicle-github","changelog_uri":"https://github.com/chronicle-app/chronicle-github/releases","source_code_uri":"https://github.com/chronicle-app/chronicle-github","allowed_push_host":"https://rubygems.org"},"yanked":false,"sha":"b7e08c48ddb951169226d25fd16c0ae850b8e5b3229666e31eb2d8cebc8abd61","project_uri":"https://rubygems.org/gems/chronicle-github","gem_uri":"https://rubygems.org/gems/chronicle-github-0.1.0.gem","homepage_uri":"https://github.com/chronicle-app/chronicle-github","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/chronicle-app/chronicle-github","bug_tracker_uri":null,"changelog_uri":"https://github.com/chronicle-app/chronicle-github/releases","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"chronicle-etl","requirements":"~\u003e
        0.5"},{"name":"octokit","requirements":"~\u003e 4.0"}]}}'
  recorded_at: Tue, 10 May 2022 03:38:28 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-imessage.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.203.190.11:443
      Etag:
      - '"1ebf4a22a81d4154457ca4b07f3b3901"'
  [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-pinboard.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.203.190.11:443
      Etag:
      - '"c941de9e68ac124c1a9f50f3647ce6e6"'
  [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-safari.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"6a8ab2bebd4fc0134007e6304dd80f5b"'
    [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-shell.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.218.36.241:443
      Etag:
      - '"5bbe40f89d74237ced1a39ef8a7b5fe0"'
    b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-spotify.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"d2e7414ca5a5324fe78ea232ebdca9de"'
    [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/chronicle-zulip.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"6f3561a9a3693b276c7047a91f58d863"'
    bo[...]
